.body{
    margin: 0px;
    display: flex;
    background-image: url();
}
.form{
    position: ;
    margin: 0vh;
    margin-top: 0vh;
    padding: 5vh;
    padding-top: 0vh;
    background: rgb(150, 180, 180);
    border-radius: 10px;
    border: none;
    font-size:x-large;
}
.required{
    text-align: center;
    margin-top: 0vh;
    color: red;
}

.name{
    border-radius: 2px;
    height: 22px;
    width: auto;
    border: none;
}
.male{
    font-size: x-large;
    height: 20px;
    width: 20px;
    border: none;
}
